.ui-btn{
  @include button-reset();
  // $self: &;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: .25rem;

  & span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.sm{ /* TODO */ }
  &.lg{ /* TODO */ }

  // & + #{$self}{}

  @include button-variant(
    $default, transparent, $default,
    darken($default, 5%), transparent, darken($default, 5%),
    darken($default, 7.5%), transparent, darken($default, 7.5%),
    transparentize($default, .15), transparent, transparentize($default, .15),
  );

  @each $color, $value in $colors {
    &.#{$color} {
      $bg: nth($value, 1);
      $color: nth($value, 2);
      $border: nth($value, 3);

      &.outline{
        @include button-variant(
            transparent, $bg, $border,
            transparentize($bg, .95), $bg, darken($border, 5%),
            transparentize($bg, .85), $bg, darken($border, 7.5%),
            transparentize($bg, .8), $bg, transparentize($border, .15),
        );
      }

      @include button-variant(
        $bg, $color, $border,
        darken($bg, 5%), $color, darken($border, 5%),
        darken($bg, 7.5%), $color, darken($border, 7.5%),
        transparentize($bg, .15), $color, transparentize($border, .15),
      );
    }
  }

}