.ui-dl{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  .ui-dt{
    padding: 0 1rem 0 0;
  }
  .ui-dd{}
}