
@import 'vars';
@import 'mixins';

html, body {
  height: 100%;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}
body {
  color: $body_color;
  background-color: $body_bg;

  &.fixed{
    overflow: hidden;
  }
}

@import 'ui';
@import 'common';
@import 'component';
@import 'shared';
@import 'widget';
