.header{
  height: $header_height;
  color: $header_color;
  background-color: $header_bg;

  .ui-menu-item{
    $self: &;

    &-link{}
    &-children{
      min-width: 200px;
      margin: 0;
      padding: 0;
      display: none;
      list-style: none;
      position: absolute;
      bottom: -100%;
      left: 1rem;

      & #{$self}{
        &-link{}
        &-children{}
      }
    }

    &:hover{
      & > .ui-menu-item-children{
        display: flex;
      }
    }

  }

  &-bar{}
}
