.page{
  &-scope{
    width: 100%;
    height: 100%;
  }
  &-layout{
    width: 100%;
    height: 100%;

    &-header{}
    &-content{
      flex: 1;
    }
    &-footer{
      flex: 0;
    }

    &--default{
      display: flex;
      flex-direction: column;
    }
    &--minimal{}
  }
  &-view{
    &--category{}
    &--default{}
    &--detail{
      &--posts{}
      // &--products{}
    }
    &--home{}
    &--lost-password{}
    &--profile{}
    &--registration{}
    &--search-results{}
    &--error{}
  }
}

