.ui-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &-nav{
    margin: 0;
    padding: 0;

    &.horizontal{}
    &.vertical{}
  }
  &-item{
    $self: &;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    &-link{}
    &-children{
      min-width: 200px;
      margin: 0;
      padding: 0;
      display: none;
      list-style: none;
      position: absolute;
      bottom: -100%;
      left: 1rem;

      & #{$self}{
        &-link{}
        &-children{}
      }
    }

    &:hover{
      & > #{$self}-children{
        display: flex;
      }
    }

    &.external{}
    &.internal{}
    &.page{}
  }

  &--horizontal{
    flex-direction: row;
  }
  &--vertical{
    flex-direction: column;
  }

}