.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &-item{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    &-link{}
    &-children{
      min-width: 200px;
      margin: 0;
      padding: 0;
      display: none;
      list-style: none;
      position: absolute;
      bottom: -100%;
      left: 1rem;

      & .menu-item{
        &-link{}
        &-children{}
      }
    }

    &:hover{
      & > .menu-item-children{
        display: flex;
      }
    }

    &--external{}
    &--internal{}
    &--page{}
  }

  &--horizontal{
    flex-direction: row;
  }
  &--vertical{
    flex-direction: column;
  }
}
