.section{
  width: 100%;
  height: auto;
  margin: 0 0 1rem 0;
  padding: 0;

  &--heading{}
  &--main{}
  &--list{}
  &--page-element{}
  &--pagination{}
  &--image{}
  &--author{}
  &--attachments{}
  &--media{}
  &--meta{}
  &--company{}
  &--comments{}
  &--links{}
}

.section-list{
  &-item{
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    &-image{
      max-width: 25%;
      padding-right: 1rem;

      img{
        max-width: 100%;
        height: auto;
      }
    }
    &-content{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }

    &--posts{}
    &--pages{}
  }

  &--category{}
  &--search{}
}